{% load static %}
<!DOCTYPE html>
        <html>
        <p>
        {% if user.is_anonymous %}anon
                <a>/</a> <a href={% url 'onboarding:sign-in' %}><span>sign-in</span></a>
                <a>/</a> <a href={% url 'onboarding:sign-up' %}><span>sign-up</span></a>
            {% else %}
                {{ user.first_name }}&nbsp;{{ user.last_name }} &lt;{{ user.email }}&gt;
                    <a>/</a> <a href={% url 'onboarding:sign-out' %}><span>sign-out</span></a>
            {% endif %}

          <title>Z37</title>
          <meta charset="utf-8">
          <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
            <link rel="icon" type="image/gif" href="{% static 'images/ariyaOk.gif' %}">
        </head>
        <body link="red" vlink="#cecece" alink="#ff0000" bgcolor="black">
        <h1>Z37 study project</h1>
        <p align='center'>This is a study project.</p>
        <nav>
            <p><a href="/"><span>/</span></a></p>
            <p><a href="/h/"><span>/hello/</span></a></p>
            <p><a href="/b/"><span>/blog/</span></a></p>
        </nav>
        <hr>
        {% block main %}{% endblock %}
        </body>
       </html>