h1 {
    color: orange;
}
h2 {
    color: orange;
}
body {
  background-color: midnightblue;
  color: gray;
  font-size: var(--font-size);
  margin: 0;
}
textarea {
    background: aliceblue; /* Цвет фона */
    width: 30%; /* Ширина */
    height: 100px; /* Высота */
   }
input {
    background: aliceblue; /* Цвет фона */
    width: 30%; /* Ширина */
   }

.post-form {
    border: 3px solid #447e9b;
    padding: 10px;
}

.likes {
  grid-column: 9/11;
  grid-row: 10/11;
  user-select: none;
}

.likes::before {
  content: "💛\00a0";
}

.likes:active {
  color: red;
}

.likes:active::before {
  content: "❤️\00a0";
}
