{% load blog_tags %}
<div class="post-form">
<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>

{% if not user == object.author %}
<p {{ object.title }}</p>
{% endif%}

    <p>{{ object.content }}</p>
    <p>{{ object.crested_at }}</p>
    {% if user.is_anonymous or user == object.author %}
        <span class="anonlikes" >{{ object.nr_likes }}</span>
    {% else %}
        <span {% is_user_like user object %} onclick="like(this, {{ object.pk }});">{{ object.nr_likes }}</span>
   {% endif %}

    <p>user: {{ object.author.email }}</p>

{% if user == object.author or user.is_superuser %}
    <p>
        <form method="post" action="{% url 'blog:delete' pk=object.pk %}">
            <p>
                <button type="submit">❌</button>
           </p>
            {% csrf_token %}
        </form>
    </p>
{%endif%}

</article>
</div>>
